body{
    font-family: 'Inter', sans-serif;
    margin: 0;
}
body, html {
    height: 100%;
    margin: 0;
}
.top-banner{
    background-image: url("images/donation13.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 80px;
}
.text-align{
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h1{
    box-align: center;
    font-size: 40px;
    font-weight: bolder;
}
p{
    font-size: 10px;
    font-weight: lighter;
    margin-bottom: 30px;
}
.anchor-button{
    text-decoration: none;
    border: none;
    background-color: #ff5959;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 780;
}
.paragraph{
    text-align: center;
    margin-bottom: 80px;
}
.button{
    border: none;
    margin-right: 10px;
    padding: 30px 20px;
}
.button-select{
    background-color: #ffcccc;
    border-color: #ff5959;
    margin-right: 10px;
    padding: 30px 20px;
}
.half-width{
    width:30%;
    float: left;
    vertical-align: middle;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 80px;
}
.half-width img{
    width: 100%;
    border-radius: 5px;
    margin-top: 2em;
    margin-bottom: 2em;
}
#footer{
    background-color:#050a14;
    padding-bottom: 8px;
    padding-top: 8px;
    font-family: italic;
}
#footer h1{
    color: #ff5959;
}
#footer p{
    color: white;
}